.title {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 1rem;
}

.brochure {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0 2rem 0.5rem 2rem;
  font-size: 1.5rem;
}

#choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 1rem;
}

#major {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

#minor {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
}

.key {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem 0.5rem 1rem;
  padding: 0.25rem 1rem 0 1rem;
}

.bank {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.numeral {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.major-circle {
  width: 30px;
	height: 30px;
  padding: 4.5%;
  border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
  text-align: center;
  margin: 0.75rem 0 0.1rem 0;
}

.minor-circle {
  width: 30px;
	height: 30px;
  padding: 4.5%;
  border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
  text-align: center;
  margin: 0.75rem 0 0.1rem 0;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.progression-list {
  padding-top: 0.5rem;
}

.progression-list li {
  margin: 0.25rem 0.25rem;
}
